
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior:smooth;
}

body {
    margin: 0;
    background-color: #E8E2E2;
}

nav {

    display: flex;
    align-items: center;
    background: rgb(232, 226, 226, 0.5);
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background: white#333;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background: #f2f2f2;
}


.nav-cart {

    margin-left: auto; 
    background: #2C2825;
    color:white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    
}

#cart-box {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 250px;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.nav-cart:hover #cart-box {
    display: block;
}


#checkout-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.checkout-content{
    width: 420px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: popup 0.3s ease;
}


@keyframes popup{

    from{
        transform: scale(0.8);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }

}

.checkout-content h2{
    text-align: center;
    margin-bottom: 20px;
}
#checkout-items{
    max-height: 220px;
    overflow-y: auto;
    margin-bottom: 20px;
}


.checkout-content h3{
    margin-bottom: 15px;
}


.checkout-content select{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}


#bayar-btn{
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border: none;
    background: #2C2825;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

#bayar-btn:hover{
    background: #2C2825;
}


#history-box{
    width: 90%;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#history-box h2{
    margin-bottom: 20px;
}

#history-list{
    list-style: none;
}

#history-list li{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    line-height: 1.8;
}
.menu {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.logo{
    width: 100px;
    height: 70px;
    background-image: url("saya.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


nav a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.1em;
    position: relative;
    transition: 0.3s;
}

nav a:hover {
    color: #2C2825;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #070301;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}


#search {
    width: 100%;
    height: 40em;
    background-image: url("dia.png") ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
}

p {
    color: white;
}




#produk{
    background: linear-gradient(to bottom, #E8E2E2, #E8E2E2);
    padding: 2em 1em;
}
.produk-section{
    width:90%;
    margin:80px auto;
}


.produk-list{
    width: 90%;
    margin: 70px auto;
    display: grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,300px));
    gap: 25px;
    justify-content: center;
    justify-items: center;
}

.lihat-produk{
    padding-top: 150px;
    display: block;
    justify-content: center;
}

.lihat-produk h2{
    grid-column: 1/-1;
    font-size: 35px;
    margin-bottom: 10px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

.lihat-produk img{
    width: 100%;
}


.produk-list h2{
    grid-column: 1/-1;
    font-size: 35px;
    margin-bottom: 10px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
}


.produk-item{
    width: 100%;
    background: white;
    padding: 18px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.produk-item:hover{
    transform: translateY(-8px);
}


.produk-item img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}


.produk-item h3{
    margin: 15px 0 10px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}


.produk-item label{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}


.produk-item select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.price{
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #2C2825;
    text-align: center;
}

.produk-item button{
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    background: #2C2825;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.produk-item button:hover{
    background: #2C2825;
}

#about {
    padding: 3em 0em;
    background:  #E8E2E2;
    width: 100%;
}

.about-container {
    padding: 0 2em;
    display: flex;
    gap: 2em;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.about-left {
    flex: 1;
    background: #2C2825;
    padding: 1.5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about-left img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.about-left h2 {
    margin: 10px 0;
}

.about-left p {
    color: #555;
}

.about-left button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #E8E2E2);
    color: black;
    cursor: pointer;
}


.about-right {
    flex: 2;
    background: #2C2825;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about-right h2 {
    border-bottom: 3px solid #E8E2E2;
    display: inline-block;
    margin-bottom: 10px;
}

.about-right p {
    color: #555;
    line-height: 1.6;
}


.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    margin-top: 15px;
}

.service-box {
    background: #E8E2E2;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.service-box:hover {
    background: #ffe0d6;
    transform: translateY(-5px);
}

#contact {
    background: #E8E2E2;
    padding: 2em 1em;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
}

.contact-card {
    display: flex;
    width: 700px;
    background: #2C2825;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    flex-wrap: wrap;
}

.contact-left {
    flex: 1;
    padding: 2em;
}

.contact-left h2 {
    margin-bottom: 15px;
}

.contact-left input,
.contact-left textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    background: #e9f0f5;
}

.contact-left textarea {
    border-radius: 10px;
    height: 80px;
}

.contact-left button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #E8E2E2, #E8E2E2);
    color: white;
    cursor: pointer;
}

.contact-left button:hover {
    opacity: 0.8;
}


.contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2C2825;
}

.contact-right img {
    width: 250px;
}


footer{
    background-color:#E8E2E2;

    }



.footer-modern {
   
    color: rgb(13, 13, 13);
    margin-top: 50px;
}

.footer-top {
    background: linear-gradient(to right, #2C2825, #2C2825);
    padding: 15px;
    text-align: center;
}

.footer-top p {

    margin-bottom: 10px;
    font-size: 0.9em;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: white;
    color: #566f72;
}



.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
    max-width: 1100px;
    margin: auto;
    gap: 20px;
}

.footer-box {
    flex: 1;
    min-width: 200px;
}

.footer-box h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #2C2825;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-box p {
    font-size: 0.9em;
    color: black;
}

.footer-box a {
    display: block;
    color:black;
    text-decoration: none;
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-box a:hover {
    color: #2C2825;
}


.footer-bottom {
    color: #E8E2E2;
    text-align: center;
    padding: 1em;
    background: #2C2825;
    font-size: 0.8em;
}



#total {
    text-align: left;
    margin: 10px 20px 10px;
}
